// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Font
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
:root {
    --bs-body-font-family: 'Lexend', sans-serif;
}

.grayscale {
    filter: grayscale(100%) contrast(100%);
}

.space {
    padding-top: 100px;
}

.navbar-custom {
    transition: all 0.3s ease-in-out;
}

.no-shadow {
    box-shadow: none !important;
}

.blinking-line {
    animation: blink 0.8s infinite;
    color: orange;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
// Then add additional custom code here
